################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EITBackend/.vs/EITBackend/DesignTimeBuild/.dtbcache.v2
/EITBackend/.vs/ProjectEvaluation/eitbackend.metadata.v2
/EITBackend/.vs/ProjectEvaluation/eitbackend.projects.v2
*.lock
*.v1
*.vsidx
*.testlog
*.manifest
*.dll
*.exe
*.pdb
*.BuildWithSkipAnalyzers
*.CopyComplete
*.cache
*.txt
/EITBackend/EITBackend/obj/Debug/net6.0/EITBackend.MvcApplicationPartsAssemblyInfo.cs
*.sentinel
/EITBackend/EITBackend/obj/Release/net6.0
/EITBackend/EITBackend/obj
/EITBackend/EITBackend/bin/Debug/net6.0
/EITBackend/.vs
/.vs
