<div class="page-wrapper d-flex flex-column flex-grow-1">
  <div class="page-title">Customer information</div>
  <form class="d-flex flex-column flex-grow-1">
    <div class="card mb-2">
      <div class="card-body">
        <div class="mb-1">Confirmation number: <b>#1111</b></div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center mb-1">
              <i class="fa fa-map-marker me-2"></i>
              <div>Cairo -> Congo</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center mb-1">
              <i class="fa fa-calendar me-2"></i>
              <div>2022/10/25</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center mb-1">
              <i class="fa fa-clock-o me-2"></i>
              <div>12 hour(s)</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center mb-1">
              <i class="fa fa-suitcase me-2"></i>
              <div>Cargo type: Luggage</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center mb-1">
              <i class="fa fa-arrows-alt me-2"></i>
              <div>Size: Box (40x40x40)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <div class="mb-1">Customer Information: </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center mb-1">
              <i class="fa fa-id-card me-2"></i>
              <div>Louis</div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center mb-1">
              <i class="fa fa-envelope me-2"></i>
              <div>louis@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2 route-path" [ngClass]="isExpandedRoutePath ? 'expanded' : ''">
      <div class="card-body">
        <div class="mb-1 d-flex justify-content-between">
          <div>Route path: </div>
          <i class="fa fa-arrows-alt cursor-pointer" (click)="isExpandedRoutePath = !isExpandedRoutePath"></i>
        </div>
        <app-route-path [cities]="routePathCities" [companies]="routePathCompanies"></app-route-path>
      </div>
    </div>
    <div class="flex-grow-1 d-flex align-items-end justify-content-end mb-3">
      <button class="btn btn-main" routerLink="/">Finish</button>
    </div>
  </form>
</div>
