.page-wrapper {
  i {
    min-width: 20px;
  }
  .card {
    background-color: #e6ecff;
    &.route-path {
      max-height: 150px;
      overflow: auto;
      &.expanded {
        max-height: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .page-wrapper .card.route-path {
    max-height: 320px;
  }
}
