<div class="page-wrapper d-flex flex-column">
  <div class="page-title">Customer information</div>
  <form class="d-flex flex-column flex-grow-1">
    <div class="form-group">
      <label>Name</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-id-card"></i>
          </div>
        </div>
        <input class="form-control" placeholder="Name" />
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-envelope"></i>
          </div>
        </div>
        <input class="form-control" placeholder="Email" />
      </div>
    </div>
    <div class="flex-grow-1 d-flex align-items-end justify-content-end mb-3">
      <button class="btn btn-sub me-2" routerLink="/routes">
        Back
      </button>
      <button type="submit" class="btn btn-main" (click)="submit()">
        Book
      </button>
    </div>
  </form>
</div>
