.header {
  background-color: #001f7e;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .company-name {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
  }
}

.body {
  background-color: #f5f5f5;
  // background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  .content {
    background-color: #fff;
    width: 100%;
  }
}

.wrapper-menu-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  .menu-icon {
    padding: 5px 12px;
    color: white;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .body {
    .content {
      border-radius: 10px;
      border: 1px solid #ced4da;
      max-width: 800px;
      height: 700px;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }
}
